
<%= form_with model:@post, class: "user-form" do |f| %>
  <div class="form-inputs">
    <%= f.label :title, class:"strong"%><br/>
    <%= f.text_field :title, class: "input" %><br/>
    <%= f.label :description, class:"description-input"%><br/>
    <%= f.text_field :description, class: "input"%><br/>
    <%= f.label :thumbnail, class:""%><br/>
    <%= f.file_field :thumbnail %><br/>
    <%= f.label :banner, class:""%><br/>
    <%= f.file_field :banner%><br/>
    <%= f.rich_text_area :body, class: "text-area input"%>

    <%= f.button :submit %>
  </div>



<% end %>
